.forecast {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-between;
    margin-top: 50px;
}

.day {
    flex-basis: calc(90%/7);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.1);
    transition: background-color .4s;
    cursor: default;
}

.day h4 {
    text-transform: capitalize;
    margin-bottom: 0;
}

.day p:first-of-type {
    margin-top: 0;
}



.day span {
    margin: 0 10px;
}

.day:hover {
    background-color: rgba(255, 255, 255, 0.2);
}