/* 
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. 
*/

/* @media(max-width:768px) and (orientation:portrait) {
    .parallax-bg div {
        background: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url(../img/mobile-bg.jpg);
        background-size: 120%;
        background-position: 0 100%;
    }
} */


@media(max-width:1200px) {

    .city {
        margin-top: 50px;
    }

    .day {
        margin-top: 20px;
        flex-basis: 45%;
    }

    .day:last-of-type {
        flex-basis: 100%;
    }
}

@media(max-width:768px) {
    :root {
        font-size: 13px;
    }

    .parallax-bg div {
        background: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url(../img/mobile-bg.jpg);
        background-size: 120%;
        background-position: 0 60%;
    }

    .current-others>* {
        flex-basis: calc(100%/2);
    }

    input {
        min-width: 50vw;
    }

    .day {
        flex-basis: 100%;
    }

    .current-temp,
    .current-others {
        flex-basis: 100%;
        margin-top: 50px;
    }
}

@media(max-width:576px) {

    :root {
        font-size: 12px;
    }

    .current-temp {
        margin-bottom: 30px;
    }
}