/* 
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. 
*/

@media(max-width:768px) and (orientation:portrait) {
    body {
        background-size: 400%;
        background-position: center;
    }
}


@media(max-width:1200px) {

    .city {
        margin-top: 50px;
    }

    .day {
        margin-top: 20px;
        flex-basis: 45%;
    }

    .day:last-of-type {
        flex-basis: 100%;
    }
}

@media(max-width:768px) {
    :root {
        font-size: 13px;
    }

    .current-others>* {
        flex-basis: calc(100%/2);
    }

    input {
        min-width: 50vw;
    }

    .day {
        flex-basis: 100%;
    }

    .current-temp,
    .current-others {
        flex-basis: 100%;
        margin-top: 50px;
    }
}

@media(max-width:576px) {

    .current-temp {
        margin-bottom: 30px;
    }
}